body .layui-layer-red .layui-layer-title{background:#9c1f23; color:#FFFFFF; border: none;}
body .layui-layer-red .layui-layer-btn a{background:#9c1f23;color:#FFFFFF;}
body .layui-layer-red .layui-layer-btn .layui-layer-btn1{background:#9c1f23;}
body .layui-layer-red .layui-layer-btn .layui-layer-btn0{border: none;}