@charset "utf-8";

/* CSS Document */


/* reset */


/*html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;font-weight:normal;}
[hidefocus],summary{outline:0;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight:normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;content:'';}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.clearfix{zoom:1}*/


/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
form,
input {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 14px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #000;
}

ul,
ol,
li {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

p,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
img,
form,
input,
br,
dl,
dt,
dd {
	padding: 0;
	margin: 0;
}

img {
	border-style: none;
	border: 0;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.clearfix {
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

em,
i,
samp,
b {
	font-style: normal;
	font-weight: normal;
	font-family: "Microsoft Yahei";
}

body {
	background: #fff;
}

html {
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}

body {
	min-width: 300px;
	overflow-x: hidden;
}

html,
body {
	width: 100%;
	max-width: 750px;
	margin: 0 auto;
}

.main {
	width: 10.8rem;
	margin: 0 auto;
}

html,
body {
	width: 100%;
	font-family: "Microsoft Yahei";
}

.main {
	width: 7.2rem;
	margin: 0 auto;
}


/*首页*/


/*头部*/

.header {
	width: 100%;
	height: .72rem;
	background-color: #9c1f23;
	padding: 0 .2rem;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	position: fixed;
	z-index: 999;
}

.header .header-name {
	display: flex;
}

.header .header-name img {
	width: 1.2rem;
	height: .28rem;
}

.header .form {
	position: relative;
	display: flex;
}

.header .form input {
	outline: none;
}

.header .form input:first-child {
	width: 3.7rem;
	height: .42rem;
	border-radius: .18rem;
	margin: 0 .2rem;
	border: 1px solid #c79f63;
	font-size: .18rem;
	padding: 0 .18rem;
	text-align: center;
}

.header .form input:last-child {
	position: absolute;
	width: .26rem;
	height: .26rem;
	top: 23%;
	left: 27%;
}

.header .header-user {
	display: flex;
	color: #f8f6f7;
	font-size: .18rem;
	line-height: 0.36rem;
}

.header .header-user img {
	width: .36rem;
	height: .36rem;
	margin-right: .08rem;
}


/*主体*/

.content {
	margin-top: .72rem;
}

.content01 {
	padding: .24rem 0;
}

.content01 .b01 {
	display: flex;
	justify-content: space-between;
}

.content01 .b01 a:first-child {
	width: 1.64rem;
	height: .4rem;
	line-height: .4rem;
	background-color: #c79f62;
	font-size: .24rem;
	color: #fff;
	border-top-right-radius: .16rem;
	border-bottom-right-radius: .16rem;
	box-shadow: 0px 3px 0px #dfd8ce;
}

.content01 .b01 a:first-child img {
	width: .22rem;
	height: .28rem;
	color: #fff;
	margin-left: .1rem;
	margin-right: .08rem;
	vertical-align: text-top;
}

.content01 .b01 a:last-child {
	font-size: .18rem;
	padding-right: .24rem;
	padding-top: .02rem;
}

.content01 .b01 a:last-child span {
	color: #9c1f25;
	margin-right: .06rem;
}

.content01 .b02 ul {
	display: flex;
	justify-content: space-around;
	margin-top: .18rem;
}

.content01 .b02 ul li a {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.content01 .b02 ul li a img {
	width: 1.42rem;
	height: 1.42rem;
	border-radius: 50%;
	
	margin-bottom: .1rem;
}

.content01 .b02 ul li a span:nth-of-type(1) {
	font-size: .22rem;
	font-weight: bold;
	color: #1d1d1d;
	display: block;
	height: .36rem;
}

.content01 .b02 ul li a span:nth-of-type(2) {
	font-size: .18rem;
	color: #888;
}


/*尾部*/

.bottom {
	padding: .36rem .24rem 0 .24rem;
	border-top: .1rem solid #eeeeee;
}

.project ul {
	border: 1px solid #bfbfbf;
	display: flex;
	align-items: center;
}

.project ul li {
	width: 33.33%;
	height: .42rem;
	border-right: 1px solid #bfbfbf;
}

.project ul li select {
	width: 100%;
	height: 95%;
	border: none;
	outline: none;
	font-size: 0.2rem;
	text-align: center;
}

.project ul li select option {
	text-align: center;
}

.project ul li:last-child {
	border-right: 0;
}

.project ul li a {
	font-size: .2rem;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: .42rem;
}

.project ul li a img {
	width: .18rem;
	height: .1rem;
	margin-left: .14rem;
	margin-top: .05rem;
}

.project-case ul {
	display: flex;
	flex-direction: column;
	margin-top: .38rem;
}

.project-case ul li {
	margin-bottom: .32rem;
	position: relative;
}

.project-case ul li:last-child {
	margin-bottom: 0;
}

.project-case ul li a {
	display: flex;
	flex-direction: column;
}

.c-top {
	width: 100%;
	height: 2.78rem;
}

.c-top img {
	width: 100%;
	height: 2.78rem;
}

.c-center {
	padding: .16rem .1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-right: .01rem solid #bfbfbf;
	border-left: .01rem solid #bfbfbf;
}

.c-center .c-left p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.c-center .c-left p:first-child {
	font-size: .2rem;
	color: #1d1d1d;
	width: 3.4rem;
	margin-bottom: .03rem;
}

.c-center .c-left p:last-child {
	font-size: .16rem;
	color: #717171;
	width: 3.14rem;
}

.c-center .c-right {
	width: 1.06rem;
	height: .4rem;
	font-size: .2rem;
	border: 1px solid #c79f64;
	text-align: center;
	line-height: .35rem;
	color: #9b1e22;
}

.project-case li:nth-of-type(2) .c-center .c-right {
	color: #c8a063;
}

.c-bottom {
	border: .01rem solid #bfbfbf;
	padding: 0 .1rem;
	border-top: 0;
}

.c-bottom .strip {
	height: .17rem;
	background-color: #d2d2d2;
}

.c-bottom .show {
	display: flex;
	justify-content: space-between;
	padding: .18rem 0;
}

.c-bottom .show p {
	font-size: .18rem;
	color: #717171;
}

.c-bottom .show p span {
	font-weight: bold;
	color: #c99f63;
	margin-left: .08rem;
}

.c-position {
	/*width: 1.06rem;
	height: .4rem;*/
	float: left;
	padding: 0.05rem 0.1rem;
	text-align: center;
	background-color: #9c1f25;
	border-radius: 8px;
	color: #fff;
	position: absolute;
	top: .27rem;
	left: -.06rem;
	font-size: .18rem;
}


/*没有更多*/

.none {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .24rem;
}

.none span:first-child {
	display: block;
	width: 38%;
	height: 1px;
	background-color: #a0a0a0;
}

.none span:last-child {
	display: block;
	width: 38%;
	height: 1px;
	background-color: #a0a0a0;
}

.none span {
	font-size: .18rem;
	color: #707070;
}


/*个人主页*/


/*头部*/

.homepage-header {
	width: 100%;
	height: .72rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .24rem;
	background-color: #9c1f23;
	position: fixed;
	z-index: 999;
}

.homepage-header a:nth-of-type(1) {
	background: url(../img/arrows.png) no-repeat;
	background-size: .2rem .35rem;
	display: block;
	width: .2rem;
	height: .35rem;
}

.homepage-header span {
	font-size: .28rem;
	color: #fff;
	margin-left: 1.12rem;
}

.homepage-header a:nth-of-type(2) {
	font-size: .24rem;
	color: #fff;
}

.homepage-header a:nth-of-type(2) img {
	width: .36rem;
	height: .36rem;
	vertical-align: text-top;
	margin-right: .08rem;
}


/*主体*/

.homepage-content {
	margin-top: .72rem;
}

.h-top a p {
	width: 1.1rem;
	height: 1.1rem;
}

.h-top a {
	display: flex;
	flex-direction: column;
	height: 2.82rem;
	background: url(../img/homePage-bj.png) no-repeat;
	background-size: 100% 100%;
	align-items: center;
	justify-content: center;
}

.h-top a p {
	margin: .12rem 0;
}

.h-top a p img {
	width: 1.07rem;
	height: 1.07rem;
	border-radius: 50%;
	border: .03rem solid #fbfbfb;
}

.h-top a h1 {
	font-size: .28rem;
	color: #fff;
	margin-bottom: .12rem;
	margin-left: 0.2rem;
}

.h-top a h1 img {
	width: .22rem;
	height: .21rem;
}

.h-top a .loveclass {
	font-size: .18rem;
	color: #fff;
	display: flex;
}

.h-top a .loveclass h2:first-child {
	margin-right: .38rem;
}

.h-bottom {
	display: flex;
	justify-content: space-around;
}

.h-bottom a {
	padding: .38rem .64rem .2rem .64rem;
}

.h-bottom a:nth-of-type(2) {
	border-right: .01rem solid #eee;
	border-left: .01rem solid #eee;
}

.h-bottom a p {
	text-align: center;
}

.h-bottom a p:first-child {
	font-size: .18rem;
	color: #3a3a3a;
	margin-bottom: .06rem;
}

.h-bottom a p:first-child span {
	font-size: .28rem;
	color: #9c1f23;
	margin-right: .06rem;
}

.h-bottom a p:last-child {
	font-size: .2rem;
	color: #3a3a3a;
}


/*尾部*/

.homepage-bottom {
	border-top: .1rem solid #eee;
}

.homepage-bottom .hd ul {
	display: flex;
	justify-content: space-around;
	padding: 0 .24rem;
	border-bottom: .01rem solid #eee;
}

.homepage-bottom .hd ul li {
	font-size: .21rem;
	color: #1d1d1d;
	height: .58rem;
	padding: 0 .3rem;
	line-height: .58rem;
}

.homepage-bottom .hd ul li.on {
	border-bottom: .02rem solid #9c1f23;
	color: #9c1e21;
}

.homepage-bottom .bd ul {
	padding: 0 .24rem;
}

.homepage-bottom .bd ul li {
	position: relative;
}

.homepage-bottom .bd a {
	display: flex;
	flex-direction: column;
	margin-top: .26rem;
}

.homepage-bottom .bd a .b-img {
	width: 100%;
	height: 2.78rem;
}

.homepage-bottom .bd a .b-img img {
	width: 100%;
	height: 2.78rem;
}

.homepage-bottom .bd a .donation {
	display: flex;
	align-items: center;
	border-bottom: .01rem solid #bfbfbf;
}

.donation .d-lf {
	width: 6%;
	height: 1.21rem;
	background-color: #9c1f23;
	color: #fff;
	font-size: .22rem;
	text-align: center;
	padding: .1rem 0;
}

.donation .d-ct {
	width: 60%;
	padding-left: .16rem;
}

.donation .d-ct p {
	font-size: .18rem;
	color: #707070;
}

.donation .d-ct p:first-child {
	color: #1d1d1d;
	font-size: .22rem;
	font-weight: bold;
}

.donation .d-ct p:nth-of-type(2) {
	margin: .02rem 0;
}

.donation .d-ct p span {
	color: #c79f63;
}

.donation .d-fg {
	width: 34%;
	border-left: .01rem solid #bfbfbf;
	height: 1.2rem;
	border-right: .01rem solid #bfbfbf;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.donation .d-fg p {
	font-size: .16rem;
	color: #2a2a2a;
}

.donation .d-fg p:first-child {
	color: #707070;
}

.donation .d-fg p span {
	color: #9c1f23;
	font-size: .4rem;
	margin-right: .06rem;
}

.homepage-bottom .bd a .money {
	position: absolute;
	left: -1%;
	top: 7%;
	font-size: .18rem;
	width: 1.06rem;
	height: .4rem;
	line-height: .38rem;
	background-color: #9c1f23;
	border-radius: 8px;
	text-align: center;
	color: #fff;
}

.donation .d-lf01 {
	line-height: 2;
	background-color: #c79f63;
}

.donation .d-ct01 {
	width: 62%;
}

.donation .d-fg01 {
	width: 16%;
}

.donation .d-fg02 {
	border-right: 0;
}

.homepage-bottom .bd .attens {
	padding: 0;
}

.homepage-bottom .bd .attens li {
	padding: 0 .24rem;
	border-bottom: .01rem solid #eee;
}

.homepage-bottom .bd .atten {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .26rem;
}

.atten-lf {
	display: flex;
	align-items: center;
}

.atten-lf .atten-img {
	width: 1rem;
	height: 1rem;
	margin-right: .2rem;
}

.atten-lf .atten-img img {
	width: 1rem;
	height: 1rem;
}

.atten-lf .atten-text {
	margin-top: .12rem;
}

.atten-lf .atten-text p:first-child {
	font-size: .28rem;
	color: #1c1c1c;
}

.atten-lf .atten-text p:last-child {
	font-size: .24rem;
	color: #808080;
	margin-top: .06rem;
}

.atten-fg {
	color: #1d1d1d;
	font-size: .22rem;
	border: 2px solid #7d7d7d;
	border-radius: 8px;
	padding: .06rem .1rem;
	margin-top: .06rem;
}

.atten-fg img {
	width: .28rem;
	height: .22rem;
	vertical-align: middle;
	margin-right: .08rem;
}


/*没有更多*/

.homepage-none {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .24rem;
}

.homepage-none span:first-child {
	display: block;
	width: 38%;
	height: 1px;
	background-color: #a0a0a0;
}

.homepage-none span:last-child {
	display: block;
	width: 38%;
	height: 1px;
	background-color: #a0a0a0;
}

.homepage-none span {
	font-size: .18rem;
	color: #707070;
}


/*个人设置*/


/*头部*/

.mynes-header a {
	display: block;
	width: .2rem;
	height: .35rem;
}

.mynes-header span {
	margin: 0;
}


/*主体*/

.mynes-content {
	margin-top: .72rem;
}

.mynes-content .m-ul li {
	border-bottom: 1px solid #eee;
}

.mynes-content .m-ul li a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .18rem .24rem .12rem .24rem;
	height: 1.05rem;
}

.mynes-content .m-ul li:first-child a {
	height: 1.35rem;
}

.mynes-content .m-ul li a span:first-child {
	color: #3b3b3b;
	font-size: .3rem;
}

.mynes-content .m-ul li a span:last-child {
	display: flex;
	align-items: center;
	font-size: .24rem;
	color: #474747;
}

.mynes-content .m-ul li a span:last-child img {
	width: 1.1rem;
	height: 1.1rem;
}

.mynes-content .m-ul li a span:last-child i {
	display: block;
	width: .12rem;
	height: .24rem;
	background: url(../img/mynes-img02.png) no-repeat;
	background-size: .12rem .12rem;
	margin-left: .12rem;
	margin-top: .12rem;
}

.mynes-content .m-ul01 {
	border-top: .1rem solid #eee;
}


/*退出登录*/

.exit {
	padding: .24rem;
}

.exit a {
	background: #9c1f23;
	width: 100%;
	height: .74rem;
	display: block;
	line-height: .74rem;
	font-size: .28rem;
	color: #fff;
	text-align: center;
}


/*登录01*/

.login01-header {
	height: .72rem;
	background-color: #9c1f23;
	padding: 0 .24rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.login01-header .header-name {
	display: flex;
}

.login01-header .header-name img {
	width: 1.2rem;
	height: .28rem;
}

.login01-content div {
	width: 100%;
	overflow: hidden;
}

.login01-content div img {
	width: 100%;
	display: block;
	overflow: hidden;
}

.div_zhang {
	width: 100%;
	overflow: hidden;
	margin-top: 3rem;
}

.div_zhang2 {
	margin-top: 2.8rem;
}

.div_zhang ul {
	width: 6.5rem;
	margin: 0 auto;
	overflow: hidden;
}

.div_zhang ul li {
	font-size: 0.24rem;
	margin-bottom: 0.27rem;
}

.div_zhang ul .li01 {
	width: 100%;
	overflow: hidden;
	padding-bottom: 0.02rem;
}

.div_zhang ul .li01 input {
	width: 99%;
	height: 0.6rem;
	border: 0.01rem solid #7d7d7d;
	margin: 0 auto;
	outline: none;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.24rem;
}

.div_zhang ul .li0x input {
	width: 6.48rem;
}

.div_zhang ul .li02 {
	width: 49%;
	float: left;
}

.div_zhang ul .li03 {
	width: 49%;
	float: right;
}

.div_zhang ul .li03 a {
	display: block;
	height: 0.62rem;
	background: #c79f63;
	font-size: 0.24rem;
	color: #ffffff;
	text-align: center;
	line-height: 0.62rem;
}

.div_zhang ul .zhuce input {
	border: none;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.3rem;
	height: 0.7rem;
	width: 6.98rem;
}

.div_zhang ul .zhuce a {
	border: none;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.3rem;
	height: 0.7rem;
	/*width: 6.98rem;*/
	display: block;
	text-align: center;
	line-height: 0.7rem;
}

.div_zhang ul .fanhui a {
	font-size: 0.24rem;
	color: #1d1d1d;
}

.div_ljki {
	width: 100%;
	overflow: hidden;
	background: url(../img/dg_02.png) no-repeat center center;
	background-size: 100% 100%;
}

.div_zhang ul .wei a {
	border: none;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.3rem;
	height: 0.7rem;
	/*width: 6.98rem;*/
	display: block;
	text-align: center;
	line-height: 0.7rem;
}

.div_zhang ul .zhang a {
	border: 0.01rem solid #9c1f23;
	background: #ffffff;
	color: #9c1f23;
	font-size: 0.3rem;
	height: 0.7rem;
	/*width: 6.98rem;*/
	display: block;
	text-align: center;
	line-height: 0.7rem;
}

.div_zhang ul .zhanghao input {
	border: none;
	background: none;
}

.div_zhang ul .zhanghao {
	border-bottom: 1px solid #9c1f23;
}

.fanhui .fff {
	float: left;
}

.fanhui .zhi {
	float: right;
}

.fanhui span {
	float: right;
	color: #1d1d1d;
	margin: 0 0.1rem;
}

.div_dakuang {
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.shan_hared {
	width: 7.5rem;
	overflow: hidden;
	height: 0.8rem;
	position: relative;
	background: #1c1c20;
}

.shan_hared .div_01 {
	width: 1rem;
	position: absolute;
	top: 0.2rem;
	left: 0.1rem;
	overflow: hidden;
	float: left;
	color: #FFFFFF;
	font-size: 0.28rem;
}

.shan_hared .div_01 a {
	display: block;
	padding-left: 0.3rem;
	color: #FFFFFF;
	background: url(../img/sd01_03.png) no-repeat 0 center;
	background-size: 0.22rem;
}

.shan_hared h1 {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.3rem;
	line-height: 0.87rem;
	color: #ffffff;
}

.shan_hared .cai {
	position: absolute;
	right: 0.1rem;
	top: 0.3rem;
	overflow: hidden;
	width: 0.42rem;
}

.shan_hared .cai img {
	width: 100%;
	display: block;
	overflow: hidden;
}

.div_dakuang .xia01 {
	width: 100%;
	overflow: hidden;
	height: 0.72rem;
	background: #333333;
	color: #FFFFFF;
	font-size: 0.18rem;
}

.div_dakuang .xia01 .zuo01 {
	width: 2rem;
	overflow: hidden;
	float: left;
	margin-left: 0.1rem;
	padding-left: 0.3rem;
	background: url(../img/sd01_13.png) no-repeat 0 center;
	background-size: 0.25rem;
	line-height: 0.72rem;
}

.div_dakuang .xia01 .zuo02 {
	width: 1.5rem;
	overflow: hidden;
	float: right;
	margin-right: 0.1rem;
	padding-left: 0.4rem;
	line-height: 0.72rem;
	background: url(../img/sd01_11.png) no-repeat 0 center;
	background-size: 0.38rem;
}

.div_dakuang .xia01 .zuo02 a {
	color: #ffffff;
}

.ul_shuju {
	width: 100%;
	overflow: hidden;
	border-bottom: 0.2rem solid #eeeeee;
}

.ul_shuju li {
	padding: 0 0.2rem;
	width: 100%;
	border-bottom: 0.01rem solid #eeeeee;
}

.ul_shuju .li01 {
	line-height: 0.68rem;
	font-size: 0.24rem;
	height: 0.68rem;
	color: #000000;
}

.ul_shuju .li02 {
	height: 0.68rem;
}

.ul_shuju .li02 .div_o1 {
	width: 1.5rem;
	overflow: hidden;
	float: left;
	line-height: 0.68rem;
	font-size: 0.24rem;
	color: #3a3a3a;
}

.ul_shuju .li02 .div_o2 {
	width: 5.3rem;
	overflow: hidden;
	float: left;
	font-size: 0.24rem;
	color: #3a3a3a;
	line-height: 0.68rem;
}

.ul_shuju .li02_1 {
	height: 3.5rem;
	overflow: hidden;
}

.ul_shuju .li02_1 .div_o2 div {
	width: 2.5rem;
	height: 2.5rem;
	overflow: hidden;
	display: block;
	margin-top: 0.2rem;
}

.ul_shuju .li02_1 .div_o2 div img {
	width: 100%;
	display: block;
}

.ul_shuju .li02_1 .div_o2 p {
	font-size: 0.2rem;
	line-height: 0.3rem;
}

.ul_shuju .li0x01 {
	border-bottom: 0.01rem solid #eeeeee;
	line-height: 0.68rem;
	font-size: 0.24rem;
	color: #000000;
}

.ul_shuju .li0x01 .p1 {
	font-size: 0.24rem;
	color: #9c1f23;
	line-height: 0.5rem;
}

.ul_shuju .li0x01 .p2 {
	font-size: 0.22rem;
	color: #1d1d1d;
	line-height: 0.4rem;
	margin-bottom: 0.2rem;
}

.ul_shuju .li026 textarea {
	width: 6.8rem;
	height: 2.68rem;
	margin: 0 auto;
	border: 1px solid #9c1f23;
	overflow: hidden;
}

.ul0236 {
	width: 100%;
	overflow: hidden;
	padding: 0.1rem 0.2rem;
	background: #FFFFFF;
}

.ul0236 li {
	width: 3.3rem;
	overflow: hidden;
	height: 0.68rem;
	float: left;
}

.ul0236 li a {
	display: block;
	line-height: 0.68rem;
	text-align: center;
	font-size: 0.3rem;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}

.ul0236 li:nth-child(1) a {
	background: #626262;
}

.ul0236 li:nth-child(2) {
	float: right;
}

.ul0236 li:nth-child(2) a {
	background: #9c1f23;
}

.ul_shuju01 {
	border-color: #FFFFFF;
}

.shan_hared1 {
	background: #9c1f23;
}

.shan_hared1 .div_01 a {
	background: url(../img/arrows.png) no-repeat 0 center;
	background-size: 0.25rem;
}

:focus {
	-moz-outline-style: none
}

.clear {
	clear: both
}

.hidden {
	display: none
}

.block {
	display: block
}

.left {
	float: left
}

.right {
	float: right
}

.bx3_m {
	float: left;
	width: 419px;
}

.bx_chgBtn {
	background: url(images/bx_line.jpg) repeat-x scroll left bottom transparent;
	overflow: hidden;
	margin-top: 15px;
}

.bx_chgBtn ul .mCon_btn {
	color: #3c3c3c;
	font-size: 0.24rem;
	cursor: pointer;
	float: left;
	font-size: 0.24rem;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	width: 83px;
}

.bx_chgBtn ul .mCon_Cutbtn {
	border-bottom: 1px solid #9c1f23;
	color: #9c1f23;
	margin: 0;
	padding-top: 1px;
}

.bx_chgCon .bx3_1h {
	border-top-style: none;
	border-top-width: 0;
}


/*.bx3_1h {
				height: 135px;
				padding: 10px 0 0 15px;
				border: 1px solid #ccc;
			}*/

.bx3_b {
	display: block;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	text-align: center;
}

.mPubcon {
	width: 500px;
	margin: 0 auto;
}

.mChangeTag .bx_chgBtn {
	width: 100%;
	overflow: hidden;
	padding: 0.1rem 0.2rem;
}

.mChangeTag .bx_chgBtn ul {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}

.mChangeTag .bx_chgBtn ul li {
	width: 33.3333%;
	overflow: hidden;
	float: left;
	padding-bottom: 0.1rem;
}

.mu1 li {
	width: 7rem;
	overflow: hidden;
	margin: 0.2rem auto;
}

.mu1 li .px_01 {
	width: 0.93rem;
	height: 0.32rem;
	background: #a01d23;
	text-align: center;
	font-size: 0.2rem;
	color: #FFFFFF;
	line-height: 0.32rem;
	border-radius: 0.1rem;
	position: absolute;
	top: 0.35rem;
	left: 0;
	z-index: 3;
}

.mu1 li img {
	width: 100%;
	display: block;
}

.mu1 li .div_jie {
	width: 6.8rem;
	margin: 0 auto;
	overflow: hidden;
	border: 0.01rem solid #bebebe;
	border-top: 0;
}

.mu1 li .div_jie .left01 {
	width: 5rem;
	overflow: hidden;
	float: left;
	padding: 0.1rem 0;
	border-right: 0.01rem solid #bebebe;
}

.mu1 li .div_jie .left01 .p1 {
	font-size: 0.3rem;
	font-weight: bold;
	color: #000000;
	line-height: 0.5rem;
	padding: 0 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mu1 li .div_jie .left01 .p2 {
	font-size: 0.16rem;
	color: #535353;
	line-height: 0.3rem;
	padding: 0 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mu1 li .div_jie .left01 .p2 span {
	color: #cfa166;
}

.mu1 li .div_jie .right01 {
	width: 1.76rem;
	overflow: hidden;
	float: right;
	overflow: hidden;
}

.mu1 li .div_jie .right01 p {
	font-size: 0.16rem;
	color: #535353;
	text-align: center;
}

.mu1 li .div_jie .right01 .p1 {
	margin-top: 0.3rem;
}

.mu1 li .div_jie .right01 .p1 span {
	font-size: 0.3rem;
	color: #9e202e;
}

.mu1 li .div_j0ie {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.mu1 li .div_j0ie .div_shenhe div {
	width: 1.45rem;
	height: 1.45rem;
	overflow: hidden;
	margin: 0.67rem auto;
	background: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
	text-align: center;
	border-radius: 50%;
	line-height: 1.45rem;
	font-size: 0.3rem;
	font-weight: bold;
}

.mu1 li .div_j0ie .div_shenhe {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.mu1 li:nth-child(2) .div_j0ie .div_shenhe {
	background: rgba(249, 124, 89, 0.3);
}

.mu1 li:nth-child(2) .div_j0ie .div_shenhe div {
	background: rgba(249, 124, 89, 0.5);
}

.mu1 li:nth-child(3) .div_j0ie .div_shenhe {
	background: rgba(46, 99, 237, 0.3);
}

.mu1 li:nth-child(3) .div_j0ie .div_shenhe div {
	background: rgba(46, 99, 237, 0.5);
}

.div_wode {
	display: flex;
	font-size: 0.12rem;
}

.div_wode a {
	text-align: center;
	margin: 0 0.05rem;
	color: #ffffff;
}

.div_wode a img {
	width: 0.37rem;
}

.banner {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-top: 0.72rem
}

.banner img {
	width: 100%;
	display: block;
}

.banner p {
	width: 0.97rem;
	height: 0.43rem;
	background: url(../img/d6_03.png) no-repeat center center;
	background-size: 100% 100%;
	font-size: 0.22rem;
	text-align: center;
	line-height: 0.43rem;
	position: absolute;
	top: 0.5rem;
	right: 0;
	color: #ffffff;
}

.div_fenxiang {
	padding: 0 .2rem;
	overflow: hidden;
	margin: 0.1rem 0;
}

.div_fenxiang .p1 {
	width: 100%;
	overflow: hidden;
}

.div_fenxiang .p1 .a1 {
	font-size: 0.24rem;
	color: #1d1d1d;
	display: block;
	float: left;
	width: 3.8rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 0.27rem;
}

.div_fenxiang .p1 .a2 {
	font-size: 0.2rem;
	color: #888888;
	display: block;
	overflow: hidden;
	float: right;
	margin-right: 0.1rem;
	line-height: 0.27rem;
}

.div_fenxiang .p1 .a2 img {
	width: 0.3rem;
	display: block;
	float: left;
}

.div_fenxiang .p1 .a2 span {
	float: left;
}


/*.div_fenxiang .p1 .ax {
	margin-left: 1.5rem;
}*/

.div_fenxiang .p2 {
	font-size: 0.18rem;
	color: #696969;
	line-height: 0.3rem;
	height: 0.9rem;
	margin: 0.15rem 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.mubiaop {
	width: 100%;
	overflow: hidden;
	font-size: 0.16rem;
	color: #696969;
	padding: 0.18rem 0;
}

.mubiaop p span {
	font-size: 0.24rem;
	color: #c79f63;
}

.mubiaop .p1 {
	float: left;
	width: 2.2rem;
}

.mubiaop .pcv2 {
	float: right;
	width: 1rem;
}

.div_fenxiang .c-bottom {
	border: 0;
	padding: 0;
}

.div_weiyuan {
	width: 100%;
	overflow: hidden;
	padding: 0.2rem 0.2rem;
	border: 0.1rem solid #eeeeee;
	background: #FFFFFF;
	border-left: none;
	border-right: none;
}

.div_weiyuan .pc01 {
	font-size: 0.18rem;
	color: #1d1d1d;
}

.div_weiyuan ul {
	width: 100%;
	overflow: hidden;
	margin: 0.2rem 0;
}

.div_weiyuan ul li {
	overflow: hidden;
	width: 25%;
	float: left;
}

.div_weiyuan ul li .left {
	width: 0.7rem;
	float: left;
	overflow: hidden;
	border-radius: 50%;
}

.div_weiyuan ul li .left img {
	overflow: hidden;
	display: block;
	width: 0.7rem;
	height: 0.7rem;
}

.div_weiyuan ul li .right {
	float: left;
	overflow: hidden;
	margin-left: 0.05rem;
}

.div_weiyuan ul li .right .p1 {
	font-size: 0.2rem;
	color: #3c3c3c;
	width: 100%;
	overflow: hidden;
}

.div_weiyuan ul li .right .p2 {
	font-size: 0.14rem;
	width: 100%;
	overflow: hidden;
	color: #696969;
}

.div_weiyuan ul li .right .p2 img {
	width: 0.17rem;
	display: block;
	float: left;
	margin-top: 0.03rem;
}

.div_weiyuan ul li .right .p2 span {
	float: left;
}

.jie_shao1 {
	width: 100%;
	overflow: hidden;
	padding: 0.2rem 0.2rem;
}

.jian_xiang {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #a0a0a0;
}

.jian_xiang li {
	width: 33.3333%;
	overflow: hidden;
	float: left;
}

.jian_xiang li a {
	display: block;
	text-align: center;
	font-size: 0.22rem;
	color: #3c3c3c;
	padding-bottom: 0.2rem;
}

.jian_xiang li:nth-child(1) a {
	border-bottom: 0.02rem solid #9c1f23;
	color: #9c1f23;
}

.xia_hedui {
	width: 100%;
	overflow: hidden;
}

.xia_hedui li {
	width: 100%;
	overflow: hidden;
	padding: 0.2rem 0.2rem;
	border-bottom: 0.01rem solid #eeeeee;
}

.xia_hedui li .img1 {
	width: 0.75rem;
	overflow: hidden;
	float: left;
	border-radius: 50%;
	height: 0.75rem;
}

.xia_hedui li .img1 img {
	width: 100%;
	height: 100%;
	display: block;
}

.xia_hedui li .ing2 {
	float: left;
	overflow: hidden;
	width: 3.5rem;
	margin-left: 0.1rem;
}

.xia_hedui li .ing2 .p1 {
	font-size: 0.3rem;
	color: #1d1d1d;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.xia_hedui li .ing2 .p2 {
	font-size: 0.24rem;
	color: #808080;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gu0an {
	float: right;
	padding: 0.02rem .1rem;
	overflow: hidden;
	border: 1px solid #c79f63;
	font-size: 0.24rem;
	color: #c79f63;
	border-radius: 0.1rem;
	margin-top: 0.1rem;
}

.gu0an span {
	float: left;
	margin: 0 0.05rem 0 0;
}

.gu0an span img {
	width: 0.28rem;
	height: 0.22rem;
	overflow: hidden;
	display: block;
	margin-top: 0.03rem;
}

.gu0an2 {
	color: #1d1d1d;
	border-color: #1d1d1d;
}

.xia_hedui li:last-child {
	border: none;
	text-align: center;
	font-size: 0.24rem;
}

.xia_hedui li:last-child a {
	color: #c79f63;
}

.liu_ol {
	width: 100%;
	overflow: hidden;
}

.liu_ol li {
	width: 100%;
	overflow: hidden;
	padding: 0.2rem;
	border-bottom: 0.01rem solid #eeeeee;
}

.liu_ol li .div_img {
	width: 0.6rem;
	overflow: hidden;
	height: 0.6rem;
	border-radius: 50%;
	float: left;
}

.liu_ol li .div_img img {
	width: 0.6rem;
	overflow: hidden;
	height: 0.6rem;
	display: block;
}

.liu_ol li .div_you {
	float: right;
	width: 5.6rem;
	margin-left: 0.1rem;
}

.liu_ol li .div_you .p1 {
	font-size: 0.2rem;
	color: #000000;
}

.liu_ol li .div_you .p1 span {
	font-size: 0.16rem;
	color: #777777;
	margin: 0 0.2rem;
}

.liu_ol li .div_you .2 {
	font-size: 0.22rem;
	color: #000000;
}

.liu_ol li .zan {
	width: 100%;
	overflow: hidden;
	float: right;
	font-size: 0.22rem;
}

.liu_ol li .zan a {
	padding-left: 0.5rem;
	background: url(../img/d10.png) no-repeat 0 center;
	background-size: 0.24rem;
	overflow: hidden;
	float: right;
	font-size: 0.22rem;
	color: #636363;
}

.liu_ol .ye {
	padding-top: 1rem;
	text-align: center;
	padding-bottom: 0.25rem;
	font-size: 0.24rem;
}

.liu_ol .ye a {
	padding: 0.1rem 0.15rem;
	border: 1px solid #707070;
	margin: 0 0.1rem;
	border-radius: 0.1rem;
}

.liu_ol .ye a:first-child {
	border: none;
}

.liu_ol .ye a:last-child {
	border: none;
}

.liu_ol .ye a:nth-child(2) {
	color: #c79f63;
	border-color: #c79f63;
}

.danbijuan {
	padding: 0.2rem;
	overflow: hidden;
}

.danbijuan a {
	display: block;
	width: 48%;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.24rem;
	color: #ffffff;
	background: #c79f63;
	float: left;
}

.danbijuan a:nth-child(2) {
	float: right;
	background: #9c1f23;
}

.xuanze_tanchuang {
	background: #787575;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}

.xuanze_tanchuang .div_weiyuan {
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
}

.xuanze_tanchuang .div_weiyuan .pc01 {
	border-bottom: 1px solid #a0a0a0;
	font-size: 0.22rem;
	color: #1d1d1d;
	padding: 0.2rem 0;
}

.xuanze_tanchuang .div_weiyuan dl {
	padding: 0.3rem 0;
}

.xuanze_tanchuang .div_weiyuan .dt01 {
	width: 100%;
	overflow: hidden;
	font-size: 0.22rem;
	color: #1d1d1d;
}

.xuanze_tanchuang .div_weiyuan .dt02 {
	width: 1.5rem;
	height: 0.4rem;
	text-align: center;
	border: 0.01rem solid #696969;
	color: #696969;
	line-height: 0.4rem;
	float: left;
	margin: 0.1rem 0.08rem;
	border-radius: 0.1rem;
}

.xuanze_tanchuang .div_weiyuan .dt02:nth-child(2) {
	color: #c79f63;
	border-color: #c79f63;
}

.gw_num {
	border: 1px solid #707070;
	width: 2.1rem;
	line-height: 0.4rem;
	overflow: hidden;
}

.gw_num em {
	display: block;
	height: 0.45rem;
	width: 0.4rem;
	float: left;
	color: #9c1f23;
	border-right: 1px solid #dbdbdb;
	text-align: center;
	cursor: pointer;
	font-size: 0.24rem;
}

.gw_num .num {
	display: block;
	float: left;
	text-align: center;
	width: 1.1rem;
	font-style: normal;
	font-size: 0.24rem;
	line-height: 0.4rem;
	border: 0;
	color: #707070;
}

.gw_num em.add {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}

.gw_num em.add1 {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}

.gw_num em.add2 {
	float: right;
	border-right: 0;
	border-left: 1px solid #dbdbdb;
}

.jin {
	width: 50%;
	float: left;
	overflow: hidden;
	margin: 0.1rem 0;
}

.jin span {
	float: left;
	font-size: 0.24rem;
	color: #707070;
	line-height: 0.5rem;
	margin-right: 0.1rem;
}

.jia0n {
	width: 100%;
	overflow: hidden;
}

.jia0n input {
	width: 100%;
	overflow: hidden;
	height: 0.65rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.3rem;
	background: #9c1f23;
	outline: none;
	margin-top: 0.2rem;
}

.jia0n a {
	width: 100%;
	overflow: hidden;
	height: 0.65rem;
	text-align: center;
	color: #ffffff;
	font-size: 0.3rem;
	background: #9c1f23;
	outline: none;
	margin: 0 auto;
	margin-top: 0.2rem;
	display: block;
	text-align: center;
	line-height: 0.7rem;
}

.juanxs span {
	margin-left: 0rem;
}

.sa_juan {
	width: 100%;
	overflow: hidden;
	height: 0.52rem;
	background: url(../img/juan_02.png) no-repeat center center;
	background-size: 100% 100%;
	margin-top: 1rem;
}

.sa_juan li {
	float: left;
	overflow: hidden;
	width: 33.3333%;
	text-align: center;
	line-height: 0.52rem;
}

.sa_juan li a {
	display: block;
	color: #ffffff;
	font-size: 0.2rem;
}

.chenggong {
	width: 7rem;
	overflow: hidden;
	margin: 0.2rem auto;
	border: 0.01rem solid #c79f63;
	background: #f6f9fc;
	padding: 0.6rem 0;
}

.chenggong .xia_nei {
	width: 5.5rem;
	overflow: hidden;
	margin: 0 auto;
}

.chenggong .xia_nei .div_leftr {
	width: 0.9rem;
	overflow: hidden;
	float: left;
	border-radius: 50%;
}

.chenggong .xia_nei .div_leftr img {
	width: 100%;
	display: block;
	height: 0.9rem;
}

.chenggong .xia_nei .div_right {
	width: 4.5rem;
	overflow: hidden;
	float: right;
}

.chenggong .xia_nei .div_right .p1 {
	font-size: 0.3rem;
	color: #1d1d1d;
}

.chenggong .xia_nei .div_right .p2 {
	font-size: 0.16rem;
	color: #1d1d1d;
}

.chenggong .xia_nei .div_right .p2 span {
	color: #9c1f23;
}

.mingpaixinxi {
	width: 100%;
	overflow: hidden;
	border-top: 0.1rem solid #eeeeee;
}

.mingpaixinxi .p01 {
	font-size: 0.24rem;
	color: #1d1d1d;
	padding: 0.2rem;
	border-bottom: 0.01rem solid #eeeeee;
}

.mingpaixinxi ul {
	width: 100%;
	overflow: hidden;
}

.mingpaixinxi ul li {
	padding: 0.2rem;
	border-bottom: 0.01rem solid #eeeeee;
}

.mingpaixinxi ul li .div_da {
	width: 100%;
	overflow: hidden;
	border: 0.01rem solid #c79f63;
}

.mingpaixinxi ul li .div_da .p1 {
	width: 100%;
	overflow: hidden;
	font-size: 0.18rem;
	color: #1d1d1d;
}

.mingpaixinxi ul li .div_da .p1 .sp1 {
	font-size: 0.24rem;
	float: left;
	color: #9c1f23;
	margin-left: 0.1rem;
}

.mingpaixinxi ul li .div_da .p1 .sp2 {
	line-height: 0.3rem;
	float: right;
	margin-right: 0.1rem;
}

.mingpaixinxi ul li .div_da .p2 {
	font-size: 0.18rem;
	color: #808080;
	overflow: hidden;
	padding: 0.1rem 0.10rem;
}

.mingpaixinxi ul li .div_da .p2 .sp1 {
	float: left;
	color: #1d1d1d;
}

.mingpaixinxi ul li .div_da .p2 .sp1 em {
	width: 1rem;
	height: 0.23rem;
	background: #9c1f23;
	color: #ffffff;
	display: block;
	text-align: center;
	line-height: 0.23rem;
	float: left;
	margin-right: 0.2rem;
	border-radius: 0.1rem;
	display: block;
}

.mingpaixinxi ul li .div_da .p2 .sp2 {
	float: right;
}

.mingpaixinxi ul li .div_da .mina_xinxi {
	border-top: 0.01rem solid #c79f63;
	overflow: hidden;
	background: #f8f3eb;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_01 {
	width: 0.33rem;
	height: 1.16rem;
	background: #c79f63;
	text-align: center;
	writing-mode: lr-tb;
	font-size: 0.18rem;
	color: #ffffff;
	float: left;
	line-height: 0.28rem;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_02 {
	width: 2rem;
	height: 1.16rem;
	font-size: 0.2rem;
	color: #1d1d1d;
	float: left;
	margin: 0 0 0 0.1rem;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_02 p {
	width: 100%;
	overflow: hidden;
	margin: 0.09rem 0;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_02 .sp1 {
	width: 1.1rem;
	font-size: 0.18rem;
	overflow: hidden;
	float: left;
	display: block;
	color: #707070;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_03 {
	width: 4.3rem;
	overflow: hidden;
	float: right;
	margin: 0;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_03 p .sp1 {
	width: 0.65rem;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_03 p {
	line-height: 0.3rem;
	margin: 0.1rem 0;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_03 .px01 {
	text-align: right;
}

.mingpaixinxi ul li .div_da .mina_xinxi .div_03 .px01 a {
	color: #004eff;
	margin-right: 0.1rem;
}

.mingpaixinxi ul li .px_df {
	font-size: 0.16rem;
	color: #707070;
	text-align: right;
	width: 100%;
	margin: 0.05rem auto;
}

.xia_yibu {
	width: 100%;
	overflow: hidden;
	height: 0.85rem;
	margin-top: 0.3rem;
}

.xia_yibu a {
	width: 100%;
	overflow: hidden;
	height: 0.85rem;
	display: block;
	text-align: center;
	line-height: 0.85rem;
	background: #9c1f23;
	color: #ffffff;
	font-size: 0.3rem;
}

.sa_juan1 {
	background: url(../img/b02_02.png) no-repeat center center;
	background-size: 100% 100%;
}

.chenggong1 {
	margin: 0.2rem 0;
}

.chenggong1 div {
	overflow: hidden;
	width: 7rem;
	margin: 0 auto;
}

.chenggong1 div img {
	width: 100%;
	display: block;
}

.div_licheng {
	width: 100%;
	overflow: hidden;
}

.div_licheng ul {
	width: 100%;
	overflow: hidden;
}

.div_licheng ul li {
	padding: 0 0.2rem;
	border-bottom: 0.01rem solid #eeeeee;
	height: 0.7rem;
	line-height: 0.7rem;
}

.div_licheng ul .li01 {
	font-size: 0.24rem;
	color: #1d1d1d;
}

.div_licheng ul .li02 span {
	width: 1.25rem;
	overflow: hidden;
	float: left;
	font-size: 0.24rem;
	color: #3a3a3a;
}

.div_licheng ul .li02 input {
	width: 5.5rem;
	overflow: hidden;
	height: 0.6rem;
	outline: none;
	font-size: 0.24rem;
}

.sa_juan2 {
	background: url(../img/b01_02.png) no-repeat center center;
	background-size: 100% 100%;
}

.luduan {
	width: 100%;
	overflow: hidden;
}

.luduan li {
	width: 1.6rem;
	overflow: hidden;
	float: left;
	margin: 0.1rem 0.1rem;
}

.luduan li a {
	display: block;
	border: 1px solid #7d7d7d;
	text-align: center;
	line-height: 0.33rem;
	font-size: 0.1735rem;
	border-radius: 0.1rem;
}

.luduan li:first-child a {
	/*border-color: #9c1f23;*/
}

.changengguo {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.1735rem;
	margin: 0.1rem 0;
	border-bottom: 0.01rem solid #eeeeee;
	padding-bottom: 0.2rem;
}

.changengguo a {
	padding-left: 0.25rem;
	background: url(../img/se01_03.png) no-repeat 0 center;
	background-size: 0.21rem;
	color: #808080;
	font-size: 0.1735rem;
}

.xuanb_wutong {
	width: 100%;
	overflow: hidden;
	padding: .2rem;
}

.xuanb_wutong .div_shu {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0.2rem;
}

.xuanb_wutong .div_shu p {
	float: left;
	overflow: hidden;
	font-size: 0.14rem;
	color: #9c1f23;
	line-height: 0.34rem;
}

.xuanb_wutong .div_shu ol {
	width: 4rem;
	overflow: hidden;
	float: right;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.xuanb_wutong .div_shu ol li {
	float: left;
	font-size: 0.16rem;
	color: #1d1d1d;
	line-height: 0.34rem;
}

.xuanb_wutong .div_shu ol li img {
	width: 0.3rem;
	overflow: hidden;
	display: block;
	float: left;
}

.shu01 {
	width: 100%;
	overflow: hidden;
}

.shu01 img {
	width: 100%;
	overflow: hidden;
	display: block;
}

.beicr {
	width: 100%;
	overflow: hidden;
	background: #f6f9fc;
	padding: 0.25rem 0;
}

.beicr .sp1 {
	width: 0.3rem;
	display: block;
	overflow: hidden;
	text-align: center;
	font-size: 0.24rem;
	color: #c79f63;
	float: left;
}

.beicr ol {
	/*width: 6.5rem;*/
	margin: 0 5px;
	float: right;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	overflow: hidden;
	text-align: center;
}

.beicr ol li img {
	display: block;
	width: 0.3rem;
	margin: 0 auto;
}

.beicr ol li span {
	display: block;
	font-size: 0.16rem;
	color: #1d1d1d;
}

.div_x {
	width: 100%;
	overflow: hidden;
	padding: 0 0.2rem;
}

.div_x ul {
	width: 100%;
	overflow: hidden;
}

.div_x ul li {
	overflow: hidden;
	float: left;
	font-size: 0.18rem;
	color: #1d1d1d;
	margin: 0.1rem;
	border: 1px solid #9c1f23;
}

.div_x ul li span {
	padding: 0.1rem;
	border-right: 1px solid #9c1f23;
}

.div_x ul li a {
	color: #9c1f23;
	padding: 0.1rem;
}

.div_x ul .qing_k {
	border: none;
}

.div_x ul .qing_k a {
	color: #888888;
	font-size: 0.16rem;
}

.div_x .yixuanb {
	font-size: 0.24rem;
	color: #1d1d1d;
	padding: 0 0.1rem;
}

.div_x .yixuanb span {
	color: #9c1f23;
	margin: 0 0.1rem;
}

.quef {
	margin-top: 1rem;
}

.xuanze_mubiao {
	width: 100%;
	overflow: hidden;
}

.xuanze_mubiao .div_weiyuan {
	background: #ffffff;
}

.xuanze_mubiao .div_weiyuan .pc01 {
	font-size: 0.24rem;
	color: #1d1d1d;
	padding: 0.2rem 0;
	padding-top: 0;
	color: #9c1f23;
}

.xuanze_mubiao .div_weiyuan dl {
	padding: 0.1rem 0;
	overflow: hidden;
}

.xuanze_mubiao .div_weiyuan .dt01 {
	width: 100%;
	overflow: hidden;
	font-size: 0.24rem;
	color: #969696;
}

.xuanze_mubiao .div_weiyuan .dt02 {
	width: 1.5rem;
	height: 0.4rem;
	text-align: center;
	border: 0.01rem solid #696969;
	color: #696969;
	line-height: 0.4rem;
	float: left;
	margin: 0.1rem 0.08rem;
	border-radius: 0.1rem;
}

.xuanze_mubiao .div_weiyuan .dt02:nth-child(1) {
	border-color: #9c1f23;
}

.xuanze_mubiao .gw_num {
	width: 3rem;
}

.xuanze_mubiao .gw_num input {
	width: 2rem;
	margin: 0 auto;
	outline: none;
}

.xuanze_mubiao1 .div_weiyuan {
	border: none;
}

.lizhi {
	border: 0.01rem solid #9c1f23;
	overflow: hidden;
	min-height: 1.5rem;
}

.lizhi p {
	padding: 0.2rem;
	font-size: 0.22rem;
	color: #707070;
}

.div_weiyuan .yue {
	padding-left: 0.3rem;
	overflow: hidden;
	background: url(../img/df02_03.png) no-repeat 0 center;
	background-size: 0.27rem;
	font-size: 0.22rem;
	color: #000000;
	margin: 0.2rem 0;
}

.div_weiyuan .yue a {
	color: #9c1f23;
}

.div_yh {
	width: 100%;
	overflow: hidden;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.div_yh .div_01 {
	width: 0.6rem;
	overflow: hidden;
}

.div_yh .div_01 img {
	width: 0.6rem;
	overflow: hidden;
	display: block;
}

.div_yh .div_02 {
	width: 1.85rem;
	overflow: hidden;
}

.div_yh .div_02 .px1 {
	font-size: 0.24rem;
	color: #1d1d1d;
}

.div_yh .div_02 .px2 {
	font-size: 0.18rem;
	color: #9c1f23;
}

.div_yh .div_03 {
	width: 1.65rem;
	overflow: hidden;
}

.div_yh .div_03 .px1 {
	font-size: 0.12rem;
	color: #696969;
}

.div_yh .div_03 .px2 {
	font-size: 0.16rem;
	color: #343434;
}

.div_yh .div_03 .px3 {
	width: 100%;
	height: 0.1rem;
	position: relative;
	background: #d2d2d2;
	margin: 0.05rem 0;
}

.div_yh .div_03 .px3 span {
	background: #c79f63;
	width: 50%;
	height: 0.1rem;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.div_yh .div_03 .px1 span {
	font-size: 0.14rem;
	color: #343434;
}

.div_yh .div_04 {
	width: 1.5rem;
	overflow: hidden;
}

.div_yh .div_04 .px1 {
	overflow: hidden;
}

.div_yh .div_04 .px1 .sp1 {
	width: 66%;
	display: block;
	float: left;
	font-size: 0.12rem;
	color: #696969;
	line-height: 0.3rem;
}

.div_yh .div_04 .px1 .sp2 {
	width: 34%;
	display: block;
	float: left;
	font-size: 0.16rem;
	color: #343434;
}

.div_yh .div_04 .px2 {
	margin: 0.05rem 0;
}

.wode_mn {
	width: 100%;
	overflow: hidden;
	font-size: 0.2rem;
	color: #343434;
}

.jins p span {
	color: #9c1f23;
	font-size: 0.2rem;
}

.jins .pcv2 {
	width: 1.5rem;
	text-align: right;
}

.jins .pcv2 span {
	color: #343434;
	font-size: 0.2rem;
}

.s-bottom {
	margin-bottom: 0.3rem;
}

.xuanze_mubiao1 .div_weiyuan {
	border-bottom: 0.01rem solid #a0a0a0;
}

.xuanze_mubiao1 .div_weiyuan .d02 {
	min-height: 3.5rem;
}

.ul02369 {
	padding: 0.2rem 0.2rem;
}

.ul02369 li:nth-child(1) a {
	background: #c79f63;
}

.xuanze_mubiao1 {
	border-top: 0.1rem solid #eeeeee;
}

.header1 {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.div_zhengshu {
	width: 100%;
	overflow: hidden;
	padding: 0.2rem 0.2rem;
	margin-top: 0.72rem;
}

.div_zhengshu .div_ibg {
	width: 100%;
	overflow: hidden;
	height: 4.3rem;
	padding-top: 0.2rem;
	position: relative;
}

.div_zhengshu .div_ibg .div_mki {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.div_zhengshu .div_ibg img {
	width: 90%;
	margin: 0 auto;
	display: block;
	height: 4.2rem;
}

.cbn {
	font-size: 0.24rem;
	border-bottom: 0.01rem solid #eeeeee;
	color: #1d1d1d;
	padding-bottom: 0.2rem;
}

.div_zhengshu p {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.2rem;
	color: #6f6f6f;
}

.div_zhengshu p a {
	width: 3.85rem;
	height: 0.5rem;
	margin: 0.2rem auto;
	display: block;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.24rem;
	line-height: 0.5rem;
	text-align: center;
}

.bottom1 {
	padding-bottom: 0.24rem;
}

.jindu01 {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.2285rem;
	color: #1d1d1d;
}

.jindu01 span {
	margin: 0 0.1rem;
}

.jindu01 em {
	font-size: 0.3046rem;
	color: #9c1f23;
}

.div_heng {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0.2rem 0;
}

.div_zhengshu .div_heng .div01 {
	width: 93%;
	padding: 0;
	overflow: hidden;
	height: 0.1rem;
	margin: 0.1rem auto;
	background: #bfbfbf;
}

.div_zhengshu .div_heng .div02 {
	width: 46.5%;
	overflow: hidden;
	height: 0.1rem;
	margin: 0 auto;
	position: absolute;
	top: 0.1rem;
	padding: 0;
	left: 3.5%;
	background: #9c1f23;
}

.div_zhengshu .div_heng .ulo01 {
	width: 96%;
	display: flex;
	display: -webkit-flex;
	overflow: hidden;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 2%;
}

.div_zhengshu .div_heng .ulo01 li {
	width: 0.3rem;
	height: 0.3rem;
	overflow: hidden;
	border-radius: 50%;
	color: #FFFFFF;
	background: #9c1f23;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.2285rem;
}

.div_zhengshu .div_heng .ulo01 li:nth-child(4) {
	background: #bfbfbf;
}

.div_zhengshu .div_heng .ulo01 li:nth-child(5) {
	background: #bfbfbf;
}

.div_zhengshu .div_heng .ulo01 li:nth-child(6) {
	background: #bfbfbf;
}

.div_zhengshu .div_heng .olo01 {
	width: 100%;
	display: -webkit-flex;
	overflow: hidden;
	justify-content: space-between;
}

.div_zhengshu .div_heng .olo01 li .p1 {
	font-size: 0.2031rem;
	color: #1d1d1d;
}

.div_zhengshu .div_heng .olo01 li .p2 {
	font-size: 0.1523rem;
	color: #1d1d1d;
}

.quenye {
	width: 100%;
	overflow: hidden;
	margin-top: 0.72rem;
	overflow: hidden;
	border-bottom: 0.1rem solid #eeeeee;
}

.quenye1 {
	margin: 0;
	border: 0;
	min-height: 8rem;
}

.quenye .ul01 {
	width: 100%;
	overflow: hidden;
}

.quenye .ul01 li {
	width: 100%;
	overflow: hidden;
	height: 0.7rem;
	border-bottom: 0.01rem solid #eeeeee;
	padding: 0 0.2rem;
}

.quenye .ul01 li .sp1 {
	width: 1.5rem;
	overflow: hidden;
	display: block;
	float: left;
	font-size: 0.24rem;
	color: #3a3a3a;
	line-height: 0.7rem;
}

.quenye .ul01 li .sp2 {
	width: 5.3rem;
	overflow: hidden;
	display: block;
	float: left;
	font-size: 0.3rem;
	color: #1d1d1d;
	line-height: 0.7rem;
}

.quenye .ul01 li .sp2 em {
	font-size: 0.36rem;
	color: #9c1f23;
}

.quenye1 .ul01 .li01 p {
	padding-left: 0.35rem;
	line-height: 0.7rem;
	font-size: 0.24rem;
	color: #3a3a3a;
	background: url(../img/df02_03.png) no-repeat 0 center;
	background-size: 0.27rem;
}

.quenye1 .ul01 .li02 input {
	width: 5.3rem;
	height: 0.68rem;
	margin-top: 0.01rem;
	outline: none;
	font-size: 0.2rem;
}

.quenye1 .ul01 .li01x a {
	color: #9c1f23;
}

.quenye1 .ul01 .li01x {
	border: none;
}

.quenye1 .ul01 .li03 p {
	font-size: 0.2026rem;
	color: #5b5a5a
}

.quenye1 .ul01 .li03 p span {
	color: #0040d2;
	font-size: 0.24rem;
}

.quenye .ul01 .li_xcd {
	line-height: 0.7rem;
	font-size: 0.24rem;
	color: #3a3a3a;
}

.quenye .ul01 .li_xcd input[type="checkbox"] {
	-webkit-appearance: none;
	/*清除复选框默认样式*/
	background: #ffffff;
	/*复选框的背景图，就是上图*/
	height: 0.24rem;
	/*高度*/
	vertical-align: middle;
	width: 0.24rem;
	border: 0.01rem solid #c79f63;
	outline: none;
}

.quenye .ul01 .li_xcd input[type="checkbox"]:checked {
	background: url(../img/df02_03.png);
	background-size: 100% 100%;
}

.lixc02 {
	display: none;
}

.falv {
	width: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
	display: none;
}

.falv div {
	width: 6.15rem;
	height: 2.9rem;
	overflow: hidden;
	background: #FFFFFF;
	margin: 5rem auto;
	text-align: center;
	font-size: 0.3rem;
	color: #3a3a3a;
}

.falv div .p1 {
	margin-top: 0.8REM;
	margin-bottom: 0.2rem;
}

.falv div a {
	margin-top: 0.3REM;
	font-size: 0.34rem;
	display: block;
	line-height: 0.7rem;
	color: #9c2022;
	border-top: 0.01rem solid #646464;
}

.quenye .zfcg {
	width: 7.1rem;
	margin: 0 auto;
	padding: 1rem 0;
	border: 0.01rem solid #c79f63;
	background: #f6f9fc;
	margin-top: 0.36rem;
}

.quenye .zfcg .div_gonh {
	width: 3.25rem;
	overflow: hidden;
	margin: 0 auto;
}

.quenye .zfcg .div_gonh .left {
	width: 0.9rem;
	height: 0.9rem;
	overflow: hidden;
	float: left;
	border-radius: 50%;
}

.quenye .zfcg .div_gonh .left img {
	display: block;
	width: 100%;
	height: 100%;
}

.quenye .zfcg .div_gonh .right {
	width: 2.1rem;
	overflow: hidden;
	float: right;
}

.quenye .zfcg .div_gonh .right .p1 {
	font-size: 0.36rem;
	color: #1d1d1d;
}

.quenye .zfcg .div_gonh .right .p2 {
	font-size: 0.24rem;
	color: #555555;
}

.quenye .zfcg .div_gonh .right .p2 span {
	color: #9c1f23;
}

.quenye .ul0xx1 li .sp2 {
	font-size: 0.24rem;
	color: #555555;
}

.quenye .ul01 .li02v {
	height: 2.85rem;
}

.quenye .ul01 .li02v textarea {
	width: 5.25rem;
	margin-top: 0.1rem;
	height: 2.35rem;
	outline: none;
	border: 0.01rem solid #c79f63;
}

.li_xcd1 {
	border-top: 0.1rem solid #eeeeee;
}

.bangding {
	width: 100%;
	overflow: hidden;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.bangdinxxgx {
	width: 100%;
	overflow: hidden;
	height: 100%;
	position: relative;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999999;
	background: rgba(0, 0, 0, 0.5);
}

.div_fenccxiang {
	position: absolute;
	right: 0.2rem;
	top: 0;
	color: #FFFFFF;
	font-size: 0.36rem;
	text-align: right;
}

.div_fenccxiang img {
	width: 1.1rem;
	display: block;
	margin-left: 1.2rem;
}

.div_fenccxiang p {
	overflow: hidden;
}

.bangding .ulxcv {
	width: 7rem;
	overflow: hidden;
	margin: 3rem auto;
	background: #FFFFFF;
}

.bangding .ulxcv .li01 {
	width: 100%;
	overflow: hidden;
	height: 0.7rem;
	overflow: hidden;
	background: #eeeeee;
	font-size: 0.24rem;
	color: #1d1d1d;
	padding: 0 0.2rem;
	line-height: 0.7rem;
	position: relative;
}

.bangding .ulxcv .li01 #bfgh {
	width: 0.31rem;
	overflow: hidden;
	position: absolute;
	right: 0.15rem;
	top: 0.15rem;
}

.bangding .ulxcv .li01 #bfgh img {
	width: 100%;
	overflow: hidden;
	display: block;
}

.bangding .ulxcv .li02 {
	width: 100%;
	overflow: hidden;
	margin-top: 0.3rem;
}

.bangding .ulxcv .li02 input {
	width: 6.68rem;
	height: 0.62rem;
	margin: 0 auto;
	outline: none;
	display: block;
	overflow: hidden;
	text-indent: 1em;
	border: 0.01rem solid #7d7d7d;
}

.bangding .ulxcv .li03 input {
	width: 3.6rem;
	height: 0.62rem;
	margin: 0 auto;
	outline: none;
	display: block;
	overflow: hidden;
	float: left;
	margin-left: 0.15rem;
	text-indent: 1em;
	border: 0.01rem solid #7d7d7d;
}

.bangding .ulxcv .li03 a {
	display: block;
	width: 2.9rem;
	height: 0.64rem;
	overflow: hidden;
	float: right;
	margin-right: 0.15rem;
	background: #c79f63;
	font-size: 0.24rem;
	color: #ffffff;
	text-align: center;
	line-height: 0.64rem;
}

.bangding .ulxcv .li0x {
	margin-bottom: 0.3rem;
}

.bangding .ulxcv .li0x input {
	border: none;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.3rem;
}

.bangding .ulxcv .li0x a {
	border: none;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.3rem;
	height: 0.7rem;
	width: 90%;
	margin: 0 auto;
	display: block;
	text-align: center;
	line-height: 0.7rem;
}

.bangding .ulxcv .lix02 {
	width: 2.5rem;
	overflow: hidden;
	margin: 0.5rem auto;
	line-height: 0.78rem;
	font-size: 0.3rem;
	color: #1d1d1d;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.bangding .ulxcv .lix02 img {
	width: 0.79rem;
	height: 0.79rem;
	overflow: hidden;
	float: left;
	display: block;
}

.bangding .ulxcv .lix02 span {
	display: block;
}

.ttchuang {
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
}

.ttchuang .div01 {
	width: 6.2rem;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 1rem;
	background: #ffffff;
}

.ttchuang .div01 ul {
	width: 100%;
	overflow: hidden;
}

.ttchuang .div01 ul .li01 {
	display: flex;
	padding: 0.2rem;
	display: -webkit-flex;
	font-size: 0.24rem;
	color: #ffffff;
	justify-content: space-between;
	background: #9c1f23;
}

.ttchuang .div01 ul .li01 img {
	width: 0.18rem;
	display: block;
	height: 0.18rem;
	margin-top: 0.1rem;
}

.ttchuang .div01 ul .li02 {
	width: 2.75rem;
	overflow: hidden;
	margin: 0 auto;
	justify-content: space-between;
	display: flex;
	display: -webkit-flex;
}

.ttchuang .div01 ul .li02 div {
	overflow: hidden;
}

.ttchuang .div01 ul .li02 div img {
	display: block;
	width: 0.96rem;
	height: 0.96rem;
	border-radius: 50%;
	margin: 0.2rem auto;
}

.ttchuang .div01 ul .li02 div p {
	width: 1.2rem;
	height: 0.24rem;
	overflow: hidden;
	margin: 0 auto;
	font-size: 0.16rem;
	background: #c79f63;
	text-align: center;
	line-height: 0.24rem;
	color: #FFFFFF;
	border-radius: 0.1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ttchuang .div01 ul .li02 div:nth-child(2) p {
	background: #9c1f23;
}

.ttchuang .div01 ul .li03 {
	width: 4.6rem;
	overflow: hidden;
	margin: 0.5rem auto;
}

.ttchuang .div01 ul .li03 img {
	display: block;
	width: 100%;
}

.ttchuang .div01 ul .li04 {
	width: 5.6rem;
	overflow: hidden;
	margin: 0.5rem auto;
}

.ttchuang .div01 ul .li04 img {
	display: block;
	width: 100%;
}

.project ul li {
	position: relative;
}

.project ul li dl {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0.44rem;
	left: 0;
	z-index: 9999;
	display: none;
	background: #FFFFFF;
}

.project ul li dl dt {
	border-right: 1px solid #bfbfbf;
	border-left: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}


.content01 .b02 ul li a div img{
	position: absolute;
	top:0.1rem;
	left:0.1rem;
}

#myStat2{
	width:30.333%;
}


/*.chtreelu h1{*/
	/*width: 0.3rem;*/
	/*display: block;*/
	/*overflow: hidden;*/
	/*text-align: center;*/
	/*font-size: 0.24rem;*/
	/*color: #c79f63;*/
	/*float: left;*/
/*}*/

.choselu {
	width: 100%;
	height: 1rem;
	background: #c5d9ee;
	margin: 10px auto;
	float: left;
	text-align: center;
	font-size: .3rem;
	font-weight: normal;
	color: #758da6;
	line-height: 1rem;
}

.treeType{
	display: block;
	border: 1px solid #7d7d7d;
	text-align: center;
	line-height: 0.33rem;
	font-size: 0.1735rem;
	border-radius: 0.1rem;
	width: 1.6rem;
	overflow: hidden;
	float: left;
	margin: 0.1rem 0.1rem;
}

.chtreelu {
    width: 100%;
    /*height: 80px;*/
    overflow: hidden;
    float: left;
}

.chtreelu h1 {
    /*width: 1rem ;*/
    font-size: .24rem;
    font-weight: normal;
    color: #c79f63;
    /*margin: 0 10px;*/

    float: left;
}

.chtreelul {
    width: auto;
    height: 100%;
    overflow: hidden;
}

.chtreelul li {
    width: 32px;
    /*height: 100%;*/
    /*min-height: 90px;*/
    float: left;
    overflow: hidden;
    /*margin: 0 14px;*/
    text-align: center;
}

.chtreelul li img {
    width: 32px;
    /*margin: 10px 0 3px;*/
}

.choselu {
    width: 100%;
    /*height: 85px;*/
    background: #c5d9ee;
    margin: 10px auto;
    float: left;
    text-align: center;
    /*font-size: 34px;*/
    font-weight: normal;
    color: #758da6;

    /*line-height: 85px;*/
}

.chtreeb {
    width: 100%;
    height: 50px;
    float: left;
}

.donatetog_c1_rj .money {
    border: 1px solid #9c1f23;
    color: #9c1f23;
}

.luduan li a.money{
    border-color: #9c1f23;
    color: #9c1f23;
}
