@charset "utf-8";

/* CSS Document */


/* reset */


/*html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;font-weight:normal;}
[hidefocus],summary{outline:0;}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-weight:normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;content:'';}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
.clearfix:after{content:'\20';display:block;height:0;clear:both}
.clearfix{zoom:1}*/


/* CSS Document */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
form,
input {
	margin: 0px;
	padding: 0px;
	border: 0;
	font-size: 14px;
	font-weight: normal;
	font-family: "Microsoft Yahei";
	color: #000;
}

ul,
ol,
li {
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0px;
}

p,
div,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
img,
form,
input,
br,
dl,
dt,
dd {
	padding: 0;
	margin: 0;
}

img {
	border-style: none;
	border: 0;
	padding: 0;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.clearfix {
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

em,
i,
samp,
b {
	font-style: normal;
	font-weight: normal;
	font-family: "Microsoft Yahei";
}

body {
	background: #fff;
}

html {
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}

body {
	min-width: 300px;
	overflow-x: hidden;
}

html,
body {
	width: 100%;
	/*max-width: 750px;*/
	margin: 0 auto;
}

.main {
	width: 10.8rem;
	margin: 0 auto;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Microsoft Yahei";
}

.main {
	width: 7.2rem;
	margin: 0 auto;
}

/*头部*/

.header {
	width: 100%;
	height: .72rem;
	background-color: #9c1f23;
	padding: 0 .2rem;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	position: fixed;
	z-index: 999;
}

.header .header-name {
	display: flex;
}

.header .header-name img {
	width: 1.2rem;
	height: .28rem;
}

.header .form {
	position: relative;
	display: flex;
}

.header .form input {
	outline: none;
}

.header .form input:first-child {
	width: 3.7rem;
	height: .42rem;
	border-radius: .18rem;
	margin: 0 .2rem;
	border: 1px solid #c79f63;
	font-size: .18rem;
	padding: 0 .18rem;
	text-align: center;
}

.header .form input:last-child {
	position: absolute;
	width: .26rem;
	height: .26rem;
	top: 23%;
	left: 27%;
}

.header .header-user {
	display: flex;
	color: #f8f6f7;
	font-size: .18rem;
	line-height: 0.36rem;
}

.header .header-user img {
	width: .36rem;
	height: .36rem;
	margin-right: .08rem;
}



/*头部*/

.homepage-header {
	width: 100%;
	height: .72rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .24rem;
	background-color: #9c1f23;
	position: fixed;
	z-index: 999;
}

.homepage-header a:nth-of-type(1) {
	background: url(../img/arrows.png) no-repeat;
	background-size: .2rem .35rem;
	display: block;
	width: .2rem;
	height: .35rem;
}

.homepage-header span {
	font-size: .28rem;
	color: #fff;
	/*margin-left: 1.12rem;*/
}

.homepage-header a:nth-of-type(2) {
	font-size: .24rem;
	color: #fff;
}

.homepage-header a:nth-of-type(2) img {
	width: .36rem;
	height: .36rem;
	vertical-align: text-top;
	margin-right: .08rem;
}






.homepage-bottom .bd a .money {
	position: absolute;
	left: -1%;
	top: 7%;
	font-size: .18rem;
	width: 1.06rem;
	height: .4rem;
	line-height: .38rem;
	background-color: #9c1f23;
	border-radius: 8px;
	text-align: center;
	color: #fff;
}

.donation .d-lf01 {
	line-height: 2;
	background-color: #c79f63;
}

.donation .d-ct01 {
	width: 62%;
}

.donation .d-fg01 {
	width: 16%;
}

.donation .d-fg02 {
	border-right: 0;
}

.homepage-bottom .bd .attens {
	padding: 0;
}

.homepage-bottom .bd .attens li {
	padding: 0 .24rem;
	border-bottom: .01rem solid #eee;
}

.homepage-bottom .bd .atten {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: .26rem;
}

.atten-lf {
	display: flex;
	align-items: center;
}

.atten-lf .atten-img {
	width: 1rem;
	height: 1rem;
	margin-right: .2rem;
}

.atten-lf .atten-img img {
	width: 1rem;
	height: 1rem;
}

.atten-lf .atten-text {
	margin-top: .12rem;
}

.atten-lf .atten-text p:first-child {
	font-size: .28rem;
	color: #1c1c1c;
}

.atten-lf .atten-text p:last-child {
	font-size: .24rem;
	color: #808080;
	margin-top: .06rem;
}

.atten-fg {
	color: #1d1d1d;
	font-size: .22rem;
	border: 2px solid #7d7d7d;
	border-radius: 8px;
	padding: .06rem .1rem;
	margin-top: .06rem;
}

.atten-fg img {
	width: .28rem;
	height: .22rem;
	vertical-align: middle;
	margin-right: .08rem;
}



:focus {
	-moz-outline-style: none
}

.clear {
	clear: both
}

.hidden {
	display: none
}

.block {
	display: block
}

.left {
	float: left
}

.right {
	float: right
}

.bx3_m {
	float: left;
	width: 419px;
}

.sa_juan {
	width: 100%;
	overflow: hidden;
	height: 0.52rem;
	background: url(../img/juan_02.png) no-repeat center center;
	background-size: 100% 100%;
	margin-top: 1rem;
}

.sa_juan li {
	float: left;
	overflow: hidden;
	width: 33.3333%;
	text-align: center;
	line-height: 0.52rem;
}

.sa_juan li a {
	display: block;
	color: #ffffff;
	font-size: 0.2rem;
}

.chenggong {
	width: 7rem;
	overflow: hidden;
	margin: 0.2rem auto;
	border: 0.01rem solid #c79f63;
	background: #f6f9fc;
	padding: 0.6rem 0;
}

.chenggong .xia_nei {
	width: 5.5rem;
	overflow: hidden;
	margin: 0 auto;
}

.chenggong .xia_nei .div_leftr {
	width: 0.9rem;
	overflow: hidden;
	float: left;
	border-radius: 50%;
}

.chenggong .xia_nei .div_leftr img {
	width: 100%;
	display: block;
	height: 0.9rem;
}

.chenggong .xia_nei .div_right {
	width: 4.5rem;
	overflow: hidden;
	float: right;
}

.chenggong .xia_nei .div_right .p1 {
	font-size: 0.3rem;
	color: #1d1d1d;
}

.chenggong .xia_nei .div_right .p2 {
	font-size: 0.16rem;
	color: #1d1d1d;
}

.chenggong .xia_nei .div_right .p2 span {
	color: #9c1f23;
}

.xia_yibu {
	width: 100%;
	overflow: hidden;
	height: 0.85rem;
	margin-top: 0.3rem;
	position: fixed;bottom: 0;left: 0;
}

.xia_yibu a {
	width: 100%;
	overflow: hidden;
	height: 0.85rem;
	display: block;
	text-align: center;
	line-height: 0.85rem;
	background: #9c1f23;
	color: #ffffff;
	font-size: 0.3rem;
}

.sa_juan1 {
	background: url(../img/b02_02.png) no-repeat center center;
	background-size: 100% 100%;
}

.chenggong1 {
	margin: 0.2rem 0;
}

.chenggong1 div {
	overflow: hidden;
	width: 7rem;
	margin: 0 auto;
}

.chenggong1 div img {
	width: 100%;
	display: block;
}

.div_licheng {
	width: 100%;
	overflow: hidden;
}

.div_licheng ul {
	width: 100%;
	overflow: hidden;
}

.div_licheng ul li {
	padding: 0 0.2rem;
	border-bottom: 0.01rem solid #eeeeee;
	height: 0.7rem;
	line-height: 0.7rem;
}

.div_licheng ul .li01 {
	font-size: 0.24rem;
	color: #1d1d1d;
}

.div_licheng ul .li02 span {
	width: 1.25rem;
	overflow: hidden;
	float: left;
	font-size: 0.24rem;
	color: #3a3a3a;
}

.div_licheng ul .li02 input {
	width: 5.5rem;
	overflow: hidden;
	height: 0.6rem;
	outline: none;
	font-size: 0.24rem;
}

.sa_juan2 {
	background: url(../img/b01_02.png) no-repeat center center;
	background-size: 100% 100%;
}

.luduan {
	width: 100%;
	overflow: hidden;
}

.luduan li {
	width: 1.6rem;
	overflow: hidden;
	float: left;
	margin: 0.1rem 0.1rem;
}

.luduan li a {
	display: block;
	border: 1px solid #7d7d7d;
	text-align: center;
	line-height: 0.33rem;
	font-size: 0.1735rem;
	border-radius: 0.1rem;
}

.luduan li:first-child a {
	/*border-color: #9c1f23;*/
}

.changengguo {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.1735rem;
	margin: 0.1rem 0;
	border-bottom: 0.01rem solid #eeeeee;
	padding-bottom: 0.2rem;
}

.changengguo a {
	padding-left: 0.25rem;
	background: url(../img/se01_03.png) no-repeat 0 center;
	background-size: 0.21rem;
	color: #808080;
	font-size: 0.1735rem;
}

.xuanb_wutong {
	width: 100%;
	overflow: hidden;
	padding: .2rem;
}

.xuanb_wutong .div_shu {
	width: 100%;
	overflow: hidden;
	margin-bottom: 0.2rem;
}

.xuanb_wutong .div_shu p {
	float: left;
	overflow: hidden;
	font-size: 0.14rem;
	color: #9c1f23;
	line-height: 0.34rem;
}

.xuanb_wutong .div_shu ol {
	width: 4rem;
	overflow: hidden;
	float: right;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.xuanb_wutong .div_shu ol li {
	float: left;
	font-size: 0.16rem;
	color: #1d1d1d;
	line-height: 0.34rem;
}

.xuanb_wutong .div_shu ol li img {
	width: 0.3rem;
	overflow: hidden;
	display: block;
	float: left;
}

.shu01 {
	width: 100%;
	overflow: hidden;
}

.shu01 img {
	width: 100%;
	overflow: hidden;
	display: block;
}

.beicr {
	width: 100%;
	overflow: hidden;
	background: #f6f9fc;
	padding: 0.25rem 0;
}

.beicr .sp1 {
	width: 0.3rem;
	display: block;
	overflow: hidden;
	text-align: center;
	font-size: 0.24rem;
	color: #c79f63;
	float: left;
}

.beicr ol {
	/*width: 6.5rem;*/
	margin: 0 5px;
	float: right;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	overflow: hidden;
	text-align: center;
}

.beicr ol li img {
	display: block;
	width: 0.3rem;
	margin: 0 auto;
}

.beicr ol li span {
	display: block;
	font-size: 0.16rem;
	color: #1d1d1d;
}

.div_x {
	width: 100%;
	overflow: hidden;
	padding: 0 0.2rem;
	/*margin-bottom: 1rem;*/
}

.div_x ul {
	width: 100%;
	overflow: hidden;
}

.div_x ul li {
	overflow: hidden;
	float: left;
	font-size: 0.18rem;
	color: #1d1d1d;
	margin: 0.1rem;
	border: 1px solid #9c1f23;
}

.div_x ul li span {
	padding: 0.1rem;
	border-right: 1px solid #9c1f23;
}

.div_x ul li a {
	color: #9c1f23;
	padding: 0.1rem;
}

.div_x ul .qing_k {
	border: none;
}

.div_x ul .qing_k a {
	color: #888888;
	font-size: 0.16rem;
}

.div_x .yixuanb {
	font-size: 0.24rem;
	color: #1d1d1d;
	padding: 0 0.1rem;
}

.div_x .yixuanb span {
	color: #9c1f23;
	margin: 0 0.1rem;
}

.quef {
	margin-top: 1rem;
}



.header1 {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
}

.div_zhengshu {
	width: 100%;
	overflow: hidden;
	padding: 0.2rem 0.2rem;
	margin-top: 0.72rem;
}

.div_zhengshu .div_ibg {
	width: 100%;
	overflow: hidden;
	height: 4.3rem;
	padding-top: 0.2rem;
	position: relative;
}

.div_zhengshu .div_ibg .div_mki {
	width: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.div_zhengshu .div_ibg img {
	width: 90%;
	margin: 0 auto;
	display: block;
	height: 4.2rem;
}

.cbn {
	font-size: 0.24rem;
	border-bottom: 0.01rem solid #eeeeee;
	color: #1d1d1d;
	padding-bottom: 0.2rem;
}

.div_zhengshu p {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.2rem;
	color: #6f6f6f;
}

.div_zhengshu p a {
	width: 3.85rem;
	height: 0.5rem;
	margin: 0.2rem auto;
	display: block;
	background: #9c1f23;
	color: #FFFFFF;
	font-size: 0.24rem;
	line-height: 0.5rem;
	text-align: center;
}

.bottom1 {
	padding-bottom: 0.24rem;
}

.jindu01 {
	width: 100%;
	overflow: hidden;
	text-align: center;
	font-size: 0.2285rem;
	color: #1d1d1d;
}

.jindu01 span {
	margin: 0 0.1rem;
}

.jindu01 em {
	font-size: 0.3046rem;
	color: #9c1f23;
}

.div_heng {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0.2rem 0;
}

.div_zhengshu .div_heng .div01 {
	width: 93%;
	padding: 0;
	overflow: hidden;
	height: 0.1rem;
	margin: 0.1rem auto;
	background: #bfbfbf;
}

.div_zhengshu .div_heng .div02 {
	width: 46.5%;
	overflow: hidden;
	height: 0.1rem;
	margin: 0 auto;
	position: absolute;
	top: 0.1rem;
	padding: 0;
	left: 3.5%;
	background: #9c1f23;
}

.div_zhengshu .div_heng .ulo01 {
	width: 96%;
	display: flex;
	display: -webkit-flex;
	overflow: hidden;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 2%;
}

.div_zhengshu .div_heng .ulo01 li {
	width: 0.3rem;
	height: 0.3rem;
	overflow: hidden;
	border-radius: 50%;
	color: #FFFFFF;
	background: #9c1f23;
	text-align: center;
	line-height: 0.3rem;
	font-size: 0.2285rem;
}

.div_zhengshu .div_heng .ulo01 li:nth-child(4) {
	background: #bfbfbf;
}

.div_zhengshu .div_heng .ulo01 li:nth-child(5) {
	background: #bfbfbf;
}

.div_zhengshu .div_heng .ulo01 li:nth-child(6) {
	background: #bfbfbf;
}

.div_zhengshu .div_heng .olo01 {
	width: 100%;
	display: -webkit-flex;
	overflow: hidden;
	justify-content: space-between;
}

.div_zhengshu .div_heng .olo01 li .p1 {
	font-size: 0.2031rem;
	color: #1d1d1d;
}

.div_zhengshu .div_heng .olo01 li .p2 {
	font-size: 0.1523rem;
	color: #1d1d1d;
}


.quenye1 .ul01 .li02 input {
	width: 5.3rem;
	height: 0.68rem;
	margin-top: 0.01rem;
	outline: none;
	font-size: 0.2rem;
}

.lixc02 {
	display: none;
}

.falv {
	width: 100%;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 100%;
	display: none;
}

.falv div {
	width: 6.15rem;
	height: 2.9rem;
	overflow: hidden;
	background: #FFFFFF;
	margin: 5rem auto;
	text-align: center;
	font-size: 0.3rem;
	color: #3a3a3a;
}

.falv div .p1 {
	margin-top: 0.8REM;
	margin-bottom: 0.2rem;
}

.falv div a {
	margin-top: 0.3REM;
	font-size: 0.34rem;
	display: block;
	line-height: 0.7rem;
	color: #9c2022;
	border-top: 0.01rem solid #646464;
}

.li_xcd1 {
	border-top: 0.1rem solid #eeeeee;
}


.content01 .b02 ul li a div img{
	position: absolute;
	top:0.1rem;
	left:0.1rem;
}

#myStat2{
	width:30.333%;
}

.choselu {
	width: 100%;
	height: 1rem;
	background: #c5d9ee;
	margin: 10px auto;
	float: left;
	text-align: center;
	font-size: .3rem;
	font-weight: normal;
	color: #758da6;
	line-height: 1rem;
}

.treeType{
	display: block;
	border: 1px solid #7d7d7d;
	text-align: center;
	line-height: 0.33rem;
	font-size: 0.1735rem;
	border-radius: 0.1rem;
	width: 1.6rem;
	overflow: hidden;
	float: left;
	margin: 0.1rem 0.1rem;
}

.chtreelu {
    width: 100%;
    overflow: hidden;
    float: left;
	overflow: initial;
}

.chtreelu h1 {
    font-size: .24rem;
    font-weight: normal;
    color: #c79f63;

    float: left;
}

.chtreelul {
    width: auto;
    height: 100%;
    overflow: hidden;
	white-space: nowrap;overflow: initial;
}

.chtreelul li {
    width: 32px;
    float: left;
    overflow: hidden;
    text-align: center;
}

.chtreelul li img {
    width: 32px;
}

.choselu {
    width: 100%;
    background: #c5d9ee;
    margin: 10px auto;
    float: left;
    text-align: center;
    font-weight: normal;
    color: #758da6;

}

.chtreeb {
    width: 100%;
    height: 50px;
    float: left;
}
.donatetog_c{display: block;clear: both;}
.donatetog_c1_rj .money {
    border: 1px solid #9c1f23;
    color: #9c1f23;
}

.luduan li a.money{
    border-color: #9c1f23;
    color: #9c1f23;
}
.chosetree2 h1{
	font-size: 0.2rem;padding-left: .1rem;color: #9c1f23;
}
.mapMainArea{position: relative;width: 100%;max-height: 5rem;overflow: hidden;overflow-x: scroll;overflow-y:scroll}

.chtreelu .tree-li{position: relative;cursor: pointer;}

.chosetree2_r .treeType img{vertical-align: middle;width: 0.3rem}

.qing_k a.ok{background: #9c1f23;color: white;padding: .05rem .2rem;height: .5rem;line-height: .5rem;}